html{
  box-sizing: border-box;
  background-color: #152c27;
  background-image: linear-gradient(to right, #5f5f5f, #b6a5b3, #171518, #ffffff);
  background-size: 700%;
  transition: background-position 1s;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'arial', sans-serif;
}

.header{
  color: rgb(0, 0, 0);
  align-items: center;
  margin: 50px;
  text-align: center;
}

.principal{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.parrafo, .mensaje-info{
  text-align: center;
  color: #e2e2e0;
  padding: 2px
}

.textarea-original, .textarea-modificada{
  width: 80%;
  height: 350px;
  resize: none;
  font-size: 20px;
  border-radius: 12px;
  padding: 10px;
}

.textarea-original{
  background-color: #ffffff;
  color: #000000;
}

.textarea-original::placeholder{
  color: #e2e2e0;
}

.textarea-modificada{
  background-color: #ffffff;
  color: #f5a1e0;
}


.article-uno{
  width: 60%;
  text-align: center;
}

.article-dos,.article-tres{
  width: 40%;
  text-align: center;
}

.label{
  color: #e2e2e0;
  font-size: 17px;
  display: block;
  padding: 10px
}

.boton{
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid #050505;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  width: 40%;
}

.copiar {
  width: 80%;
  margin: 5px auto;
  display: block;
}

.boton:hover{
  background-color: #ffcbeb;
  border: 2px solid #000000;
}


.close-button {
  z-index: 1;
}


@media (max-width: 768px) {
  .texto {
    flex-basis: 100%;
  }

  .texto-codificado {
    flex-basis: 100%;
  }

  .informacion {
    flex-basis: 100%;
  }


  .texto .boton {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .texto {
    flex-basis: 100%;
  }

  .texto-codificado {
    flex-basis: 100%;
  }

  .informacion {
    flex-basis: 100%;
  }


  .texto .boton {
    font-size: 12px;
  }
}